.auth-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #001c48;
      padding: 20px;
    }

    .auth-box {
      background: rgb(11, 11, 11);
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
    }

    h2 {
      text-align: center;
      color: white;
      margin-bottom: 30px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: white;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid white;
      border-radius: 4px;
      font-size: 16px;
    }

    .submit-btn {
      width: 100%;
      padding: 12px;
      background-color: #033e9d;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .submit-btn:hover {
      background-color: #002d6e;
    }

    .back-link {
      text-align: center;
      margin-top: 20px;
    }

    .back-btn {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
    }

    .back-btn:hover {
      text-decoration: underline;
    }
    img{
        height: 120px;
        border-radius: 50%;
        display: flex;
        justify-self: center;
    }