<div class="announcement-bar">
  <p>LIVRAISON GRATUITE à partir de 150DT d'achats</p>
</div>

<nav class="navbar">
  <!-- Logo -->
  <div class="logo">
    <img src="r2rlg.png" alt="Logo" />
  </div>

  <!-- Navigation Links  -->
  <ul class="nav-links">
    <li><a routerLink="/homepage" routerLinkActive="active-link">HOME</a></li>
    <li><a routerLink="/men" routerLinkActive="active-link">MEN</a></li>
    <li><a routerLink="/women" routerLinkActive="active-link">WOMEN</a></li>

  </ul>

  <!-- Right Section -->
  <div class="right-section">
    <form class="search-bar">
      <input
        type="text"
        placeholder="Search"
        aria-label="Search"
        class="search-input"
      />
      <button type="submit" class="search-btn">
        <i class="bi bi-search"></i>
      </button>
    </form>
    <a class="account-icon" (click)="toggleMenu()">
      <i class="bi bi-person"></i>
    </a>
    <a routerLink="/panier" routerLinkActive="active-link" class="panier-icon">
      <i class="bi bi-cart3"></i>
    </a>
  </div>
</nav>

<app-account [isOpen]="isAccountOpen" (close)="closeAccount()"></app-account>